spring:
  application:
    name: activity-service
  mongodb:
    uri: mongodb://localhost:27017/
    database: fitness_activitydb
  rabbitmq:
    host: localhost
    port: 15672
    username: guest
    password: guest

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking


